*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  
  body {
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  h1, h2 {
    font-weight: 600;
  }
  hr {
    max-width: 100% !important;
  }
  
  input {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-variant-numeric: tabular-nums;
  }
  
  sup {
    vertical-align: super;
    font-size: .625em;
  }
  
  strong {
    font-weight: 600;
  }
  
  .color-white { color: #F6F4F2; } /* White */
  .color-black { color: #2E2C2C; } /* Black */
  .color-red, .color-targets { color: #FF4B4B; }/* red: */
  .color-orange, .color-properties { color: #FF8F42; }/* orange: */
  .color-lightorange, .color-prop-params { color: #FFC730; }/* lightorange: */
  .color-yellow, .color-anim-params { color: #F6FF56; }/* yellow: */
  .color-citrus, .color-values { color: #A4FF4F; }/* citrus: */
  .color-green, .color-keyframes { color: #18FF74; }/* green: */
  .color-darkgreen, .color-staggering { color: #00D672; }/* darkgreen: */
  .color-turquoise, .color-tl { color: #3CFFEC; }/* turquoise: */
  .color-skyblue, .color-controls { color: #61C3FF; }/* skyblue: */
  .color-kingblue, .color-callbacks { color: #5A87FF; }/* kingblue: */
  .color-lavender, .color-svg { color: #8453E3; }/* lavender: */
  .color-purple, .color-easings { color: #C26EFF; }/* purple: */
  .color-pink, .color-helpers { color: #FB89FB; }/* pink: */
  
  .anime-mini-logo {
    width: 100px;
    height: 24px;
    transform: scaleY(.5);
  }
  
  /* 首页波浪样式 */
.animation-wrapper {
  width: 40%;
  padding-bottom: 40%;
}

.stagger-visualizer {
  position: absolute;
  width: 1100px;
  height: 550px;
  transform-origin: center bottom;
}

.stagger-visualizer .dots-wrapper {
  transform: translateZ(0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stagger-visualizer .dot {
  position: relative;
  z-index: 1;
  width: 23px;
  height: 23px;
  margin: 16px;
  background-color: currentColor;
  border-radius: 50%;
}

@media (min-width: 740px) {
  .stagger-visualizer .dot {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 8%, #D3CDC6 100%);
  }
}

.stagger-visualizer .cursor {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 37px;
  height: 37px;
  margin: 9px;
  background-color: currentColor;
  border-radius: 50%;
}
